:root{
    --color-1:#18214A;
    --color-2:#4B4B71; 
    --color-3:white;
}
body{
    background-color: var(--color-1) !important; 
}
.body
{
    margin: 0px;
    padding: 0px;
}
.timer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#name,#Result
{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 12;
}
.Startbtn
{
    background-color: var(--color-2);
    border-radius: 20px;
    width: 180px;
    height: 45px;
    font-family: Roboto;
    color:var(--color-3);
    font-size: 25px;
    outline: none;

}
.secondary{
    background-color: var(--color-2);
    color: var(--color-3);
}
.Wight{
    background-color: var(--color-3);
    color: var(--color-1);
}
.Startbtn:hover
{
    background-color: var(--color-1);
}
.col-sm.r 
{
   margin: 0;
   padding: 0;
   background-color: var(--color-1);
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   display: flex;
   height: 100vh;
}
.row
{
   height: 100vh;
}
#link,#image
{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15;
}
.col-sm.r2
{
   margin: 0;
   padding: 0;
   background-color: var(--color-3);
   justify-content: center;
   align-items: center;
   display: flex;
   height: 100vh;
}
p
{
   display: contents;
}
#instr
{
    color: var(--color-3);
    font-size: 2rem;
    display: flex;
}
#InstructionsHead
{
    color:var(--color-3);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35;

}
.btn
{
    width: 250;
    height: 40;
    left: 50.27px;
    justify-content: center;
    align-content: center;
    border: 1px solid #3E8BD5;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10;
    outline: none;
}
.btn:hover 
{
    background-color: var(--color-1) ;
    color: var(--color-3);
    text-decoration: none;
    outline: none;
}
.option1
{
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
}
.InstructionDiv
{
    margin-bottom: 40;
}
#que
{
    font-size: 30;
}
#QuestionNo
{
    font-size: 20;
    justify-content: center;
    align-items: center;
    display: flex;
}


.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: var(--color-3);
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: var(--color-1);
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}